<div id="helpinnertext">
	<section id="help_wall">
		<h2>Hier befindet</h2><%= image_tag "post-it.jpg", :size => "50x50" %><h3> sich deine </h3><h1>Connectfiy-Pinnwand</h1>
	</section>

	<p>Im Moment ist sie noch leer. Damit sich das bald ändert, kannst du entweder selbst neue Microposts erstellen (Stift) oder den Microposts anderer Nutzer folgen. Dazu klickst du einfach auf der Profilseite eines anderen Nutzers auf den Button "folgen". In der Desktopversion hast du zusätzlich die Möglichkeit dir bei einer Suche interessante Posts zu merken. Wenn du eine Einführung möchtest, klicke links oben auf Optionen.</p>
</div>