<div id="helpinnertext">
	<section id="help_wall">
		<h2>Schreibe</h2><%= image_tag "post-it.jpg", :size => "50x50" %><h3> an unsere </h3><h1>Connectfiy-Pinnwand</h1>
	</section>

	<section id="help_hobby">
		<h4>1. DEIN HOBBY</h4>
		<p>Zuerst wählst du dein Hobby: z.B. Klettern, Joggen oder Bogenschießen.<br> Deines ist nicht dabei?! Schreib uns!</p>
	</section>

	<section id="help_place">
		<h4>2. DEIN ORT</h4>
		<p>Wenn du möchtest, wird deine aktuelle Stadt ermittelt. Keine Angst, wir speichern <em>KEINE</em> Bewegungsprofile oder ähnliche Dinge, die in deine Privatsphäre eingreifen. Es soll dir einfach helfen schneller zu sein. Sonst nichts.</p> 
	</section>

	<section id="help_optional">
		<h2>und schon fertig :D Ab hier sind alle Angaben freiwillig!</h2>
		<p>-----------------------------------------------------------------------------------------------------------------------------------</p> 
	</section>

	<section id="help_map">
		<h4>DER TREFFPUNKT</h4>
		<p>Klick auf die Karte, um einen Treffpunkt festzulegen. Solltest du unentschlossen sein, lass diesen Schritt einfach aus. <br><br><em>Denke aber bitte daran, dass die Karte so wie du sie siehst, später auch allen anderen angezeigt wird. Solltest du also nicht wollen, dass jemand deinen ungefähren Wohnort kennt, setze den Marker einfach in die Stadtmitte oder deaktiviere die Geolocation-Funktion in deinem Browser.</em></p> 
	</section>

	<section id="help_time">
		<h4>DEINE ZEIT</h4>
		<p>Wähle aus dem Kalender einen Tag und eine Uhrzeit aus. Dann klicke neben den Kalender ...und weiter gehts!</p> 
	</section>

	<section id="help_about">
		<h4>DEINE STORY</h4>
		<p>Jetzt kannst du noch etwas über dich oder die Welt schreiben - wenn du magst :)</p> 
	</section>

	<section id="help_submit">
		<p>Ein Klick noch und du bist fertig.<br><br> Das war einfach... oder? Solltest du Probleme oder Fragen haben, schau dir die Einführung an. <br>Viel Spaß auf Connectify!</p>
	</section>
</div>