
<div id="helpinnertext">
	<section style="border-bottom: 1px solid #FFF; padding-bottom: 25px;">
		<p class="lead" style="border-left: 3px solid black; padding-left: 10px;"><b>Hinweis:</b> Damit du anderen Connectify-Nutzern direkt auf Facebook schreiben kannst (und umgekehrt), ohne dass die Nachrichten im "Sonstiges"-Ordner landen, musst du der Connectify-Facebookgruppe beitreten. <br><%= link_to "Mehr erfahren...", help_path+"/#facebook", class: "small" %></p>
		<a href="http://facebook.com/groups/connectify" class="btn btn-success" target="_blank" id="togg" data-placement="bottom" data-toggle="tooltip" title="Es öffnet sich ein neues Fenster. Dort musst du der Gruppe durch einen entsprechenden Klick beitreten. Facebook erlaubt leider keinen automatischen Gruppenbeitritt.">Facebook Nachrichten erlauben (Gruppe beitreten)</a>
	</section>

	<br>
	<section id="help_wall">
		<h1>Connectify ist neu.</h1><h2> Hilf uns zu wachsen, indem du eine Activity erstellst. </h2><h1>Danke.</h1><p style="text-align: center;"><%= image_tag "cat.jpg" %></p>
	</section>

	<section id="help_hobby">
		<h4 class="lead">1. Hobby auswählen</h4>
	</section>

	<section id="help_place">
		<h4 class="lead">2. Ort auswählen</h4>
	</section>

	<section id="help_optional">
		<h2 class="lead" style="border-bottom: 1px dashed #CCC; padding-bottom: 25px; font-size: 1.5em;">und schon fertig :-) Ab hier sind alle Angaben freiwillig!</h2>
	</section>

	<section id="help_map">
		<h4 class="lead">Treffpunkt auswählen</h4>
		<p>Klick auf die Karte, um einen Treffpunkt festzulegen. Solltest du unentschlossen sein, lass diesen Schritt einfach aus.<br><em>Denke aber bitte daran, dass die Karte so wie du sie siehst, später auch allen anderen angezeigt wird. Solltest du also nicht wollen, dass jemand deinen ungefähren Wohnort kennt, setze den Marker einfach in die Stadtmitte oder deaktiviere die Geolocation-Funktion in deinem Browser.</em></p> 
	</section>

	<section id="help_time">
		<h4 class="lead">Zeit auswählen</h4>
		<p>Wähle aus dem Kalender einen Tag und eine Uhrzeit aus. Dann klicke neben den Kalender ...und weiter gehts!</p> 
	</section>

	<section id="help_about">
		<h4 class="lead">Schreib etwas über dich...</h4>
		<p>Jetzt kannst du noch etwas über dich oder die Welt schreiben - wenn du magst :)</p> 
	</section>

	<section id="help_submit">
		<p>Ein Klick noch auf "Abschicken" und du bist fertig.<br><br> Das war einfach... oder? Solltest du Probleme oder Fragen haben, schau dir die <%= link_to "Einführung", help_url %> an. <br>Viel Spaß auf Connectify!</p>
	</section>
</div>
