<% provide(:title, 'Home') %>

<% if signed_in? %>
<div>
	<div data-role="controlgroup" data-type="horizontal"></div>
    <div class="center" style="padding-left: 16%;>
      <section>
        <%= render 'shared/user_info' %>
      </section>
    </div>

</div>
<div style='clear:both;'>
  <%= render 'shared/feed' %>
</div>
<% else %>

<div class="center hero-unit">
<h1>Connectify</h1>
<p>
  ... a great place to <b>find people</b> doing the things you love most, too!
  
</p>It's just one click away... <br/><br />
<%= link_to "Connect me!", "auth/facebook", :rel =>"external" %>
</div>

<% end %>