<div id="terms" class="lead">
<h3>Datenschutzerklärung</h3>

<h3>1. Allgemeines</h3>

<p>Connectify.de , Waldstrasse 93, 76133 Karlsruhe vertreten durch Daniel Fliegauf (nachfolgend „Connectify“ genannt), betreibt ein interaktives Online-Portal, das dir dabei helfen soll den richtigen Sport-/Hobbypartner zu finden.</p>

<p>Connectify ermöglicht den Zugang und die Nutzung des Portals auf der Grundlage der Verhaltensregeln. Diese regeln das Verhältnis zwischen Connectify als Betreiber des Portals und sich registrierenden Nutzern.</p>

<p>Im Rahmen der Registrierung als Nutzer und im weiteren bei Nutzung der Plattform gibst du Connectify Daten bekannt, die einen Personenbezug zu dir aufweisen (so genannte personenbezogene Daten im Sinne des Bundesdatenschutzgesetzes). Diese Datenschutzerklärung beschreibt, wie Connectify mit diesen personenbezogenen Daten umgeht.</p>

<h3>2. Anmeldung</h3>

<p>Um sämtliche Funktionen von Connectify nutzen zu können, musst du dich zunächst mit deinem Facebook-Account anmelden. Connectify speichert hierbei nur den Namen und die eMail Adresse der User. Es kann nur auf Informationen zugegriffen werden, denen du ausdrücklich zustimmst.</p>

<p>Mit Hilfe von technischen Schutzmaßnahmen (SecureSocketLayer) versuchen wir dir eine größtmögliche Datensicherheit zu bieten. Du kannst dies am grünen Sicherheitsschloss (Google Chrome) in der Adressleiste deines Browsers erkennen.</p>

<p>Auf Verlangen gibt dir Connectify gerne Auskunft über die Daten, die unter deinem Benutzernamen gespeichert sind.</p>

<h3>3. Art, Umfang und Zweck der Datenverarbeitung</h3>

<p class="text-error">Die von dir im Rahmen der Anmeldung angegebenen personenbezogenen Daten werden <b>NUR</b> zur Kennzeichnung deiner Microposts genutzt. Zu Werbezwecken werden die Daten <b>NICHT</b> verwendet.</p>

<h3>4. Dritte</h3>

<p>Deine personenbezogenen Daten auch <b>nicht</b> an Dritte weitergegeben.</p>

<h3>6. Cookies, Auschluss der Nutzung von Google Analytics</h3>

<p>Connectify verwendet Sitzungscookies. Diese sind für die vollständige Funktionsfähigkeit der Seiten notwendig. Cookies sind kleine Textdateien, die auf der Festplatte von Besuchern unserer Webseite abgelegt werden.</p>

<p>Du kannst das Speichern von Cookies verhindern, indem du deine Browser-Einstellungen entsprechend änderst. Wie das funktioniert, entnimmst du am besten der Bedienungsanleitung deines Browser-Herstellers.</p>

<p>Connectify benutzt <b>KEIN</b> Google Analytics.</p>

<h3>7. Löschung oder Sperrung der Daten</h3>

<p>Du kannst dein Nutzerkonto jederzeit löschen. Dies hat zur Folge, dass wir deine Daten unverzüglich löschen.</p>

<h3>8. Verwendung von Social-Plugins (Facebook)</h3>

<p>Unser Internetauftritt verwendet Social-Plugins (Plugins) von Facebook. Die Plugins von Facebook sind an den Facebook-Logos erkennbar.</p>

<p>Connectify hat keinen Einfluss darauf, welche Daten ein aktiviertes Plugin erfasst und wie diese durch den Anbieter verwendet werden. Derzeit muss davon ausgegangen werden, dass mindestens die IP-Adresse und gerätebezogene Informationen erfasst und genutzt werden. Ebenfalls besteht die Möglichkeit, dass die Diensteanbieter versuchen, Cookies auf dem verwendeten Rechner zu speichern.</p>

<p>Der Facebook Button baut eine direkte Verbindung zu den Diensten von Facebook Inc., 1601 S. California Ave, Palo Alto, CA 94304, USA auf. Facebook wird dadurch über den Besuch einer bestimmten Seite informiert. Falls du zeitgleich bei Facebook angemeldet bist, kann Facebook dich als Besucher einer bestimmten Seite identifizieren. Welche Daten hierbei im Übrigen erfasst und wie diese genutzt werden, entnimmst du bitte den Datenschutzhinweisen von Facebook: https://www.facebook.com/help/?faq=186325668085084. Möglichkeiten zum Schutz deiner Privatsphäre innerhalb von Facebook findest du unter: http://www.facebook.com/policy.php</p>

<h3>9. Änderung der Datenschutzerklärung</h3>

<p>Connectify behält sich vor, diese Datenschutzhinweise zu aktualisieren. Aus diesem Grund ist es sinnvoll, dass du als Nutzer in gewissen Abständen den aktuellen Stand dieser Datenschutzerklärung abfragst. Sollte eine Änderung der Datenschutzerklärung dazu führen, dass sich der Inhalt der von dir diesbezüglich abgegebenen Einwilligung zum Umgang mit deinen personenbezogenen Daten ändert, wird Connectify eine neue Einwilligungserklärung bei dir einholen. Eine kommerzielle Vermarktung deiner Daten bleibt allerdings ausdrücklich ausgeschlossen.</p>
</div>