<div id="terms" class="lead">
<h3>1. Verhaltensregeln</h3>
<p>Damit Connectify nach Vorstellung des Gründers funktionieren kann, sind die Nutzer dazu aufgefordert sich an folgende Verhaltensregeln beim Posten von Microposts oder Kommentaren zu halten:
<ol>
<li>KEINE Kontaktanzeigen (insbesondere sexueller Art)</li>
<li>KEINE Gesetzeswidrige und jugendgefährdende Inhalte (politische und religiöse inkorrekte Aussagen, Pornografie, Gewalt- und Suizidverherrlichung)</li>
<li>KEINE Fremdverlinkungen, Posten von urheberrechtlich geschütztem Material (in Wort und Bild). Texte bzw. Songtexte dürfen nicht komplett kopiert, sondern nur auszugsweise zitiert werden. Anerkannte Zitierrichtlinien/Urheberrecht sind hierbei zu beachten, insbesondere ist die Quellenangabe Pflicht.</li>
<li>KEINE Links zu Diebspielen, Logoutlinks, Sperrlinks u.ä., Spam und Flooding (Posten von mehreren Beiträgen innerhalb kürzester Zeit / Posten des gleichen Beitrags in verschiedenen Microposts), sowie kommerzielle Werbung.</li>
<li>KEINE Beleidigungen und Belästigungen, Verabredungen zu Schlägereien, Massenbesäufnissen oder anderen Veranstaltungen, die dazu führen können, die öffentliche Ordnung zu stören oder gegen geltendes Recht zu verstoßen</li>
<li>KEIN Bereitstellen, Verherrlichen und/oder Suchen von URLs und Programmen welche Raubkopien, Seriennummern, viren- und trojanerverseuchtes oder lizenziertes Material anbieten</li></ol></p><br>

<h3>2. Gewährleistungsumfang</h3>

<p>Als kostenfreie Platform gewährleistet Connectify nicht den jederzeitigen ordnungsgemäßen Betrieb bzw. die ununterbrochene Nutzbarkeit bzw. Erreichbarkeit der Plattform, da Störungen des Servers oder Schwankungen in der Qualität des Zugangs zur Plattform technisch nicht auszuschließen sind.</p>

<h3>3. Überwachungspflichten</h3>

<p>Connectify ist als Diensteanbieter im Sinne des Telemediengesetzes nicht dazu verpflichtet, die übermittelten oder gespeicherten Informationen seiner Nutzer zu überwachen oder nach Umständen zu forschen, die auf rechtswidrige Handlungen hinweisen. Sollte Connectify allerdings positive Kenntnis von solchen Tatsachen erlangen, prüft Connectify den Sachverhalt und entfernt bzw. sperrt die rechtswidrigen Inhalte unverzüglich.</p>


<h3>4. Laufzeit, Kündigung/ Maßnahmen bei Nutzerverstößen</h3>

<p>Der Vertrag über die Nutzung der Plattform läuft auf unbestimmte Zeit.</p>

<h3>4.1 Ordentliche Kündigung</h3>

<p>Sowohl der Nutzer wie auch Connectify ist jederzeit berechtigt, das Nutzungsverhältnis mit einer Frist von sieben Tagen ordentlich zu kündigen.</p>

<h3>4.2 Außerordentliche Kündigung</h3>

<p>Connectify ist ferner berechtigt, das Nutzungsverhältnis mit sofortiger Wirkung zu kündigen, wenn der Nutzer mehrfach durch gegen die Nutzungsbedingungen verstoßende Beiträge auffällt oder anderweitig gegen diese Nutzungsbedingungen verstößt und diesen Verstoß auch nach Mahnung mit Fristsetzung nicht beseitigt bzw. den Verstoß wiederholt.</p>

<h3>4.3 Kündigungsfolgen</h3>

<p>Micropost-Daten werden nach Beendigung des Vertragsverhältnisses nur noch in anonymisierter Form von Connectify gespeichert. Einzelheiten zum Umgang mit personenbezogenen Daten der Nutzer sind unter Datenschutz nachzulesen.</p>

<h3>4.4 Ausschluss von Diensten, Deaktivierung von Accounts</h3>

<p>Als „Weniger“ zur Kündigung behält sich Connectify in den unter Ziff. 4.2 genannten Fällen vor, den Nutzer, auch mit sofortiger Wirkung, von einem oder mehreren Diensten des Angebots auszuschließen sowie einen Nutzer-Account vorübergehend oder dauerhaft zu deaktivieren.</p>

<h3>4.5 Sonstige Maßnahmen bei Verstößen gegen die Nutzerpflichten</h3>

<p>Connectify ist berechtigt, hinsichtlich einzelner Microposts oder sonstigen Veröffentlichungen besondere Maßnahmen zu treffen, soweit sie diese für erforderlich und angemessen hält. Hierzu gehören

- die Löschung eines Microposts<br>
- die Löschung von Kommentaren<br>

Das Recht zur Kündigung nach Ziffer 4.1 oder 4.2 sowie die Rechte aus Ziff. 4.4 bleiben hiervon unberührt.</p><br>

<h3>5. Widerrufsrecht</h3>

<h3>5.1 Widerrufsbelehrung</h3>

<h3>5.1.1 Widerrufsrecht</h3>

<p>Du kannst deine Registrierung innerhalb von 14 Tagen ohne Angabe von Gründen widerrufen. Am einfachsten geht dies <%= link_to t('link.destroyuser'), user_path(current_user), :confirm => 'Are you sure?', method: "delete" %>. Der Widerruf kann aber auch anderweitig in Textform (z.B. Brief oder E-Mail) erfolgen. Die Widerrufsfrist beginnt nach Erhalt dieser Belehrung in Textform, jedoch nicht vor Vertragsschluss und auch nicht vor Erfüllung unserer Informationspflichten gemäß Artikel 246 § 2 in Verbindung mit § 1 Abs. 1 und 2 EGBGB sowie unserer Pflichten nach 312g Abs. 1 Satz 1 BGB in Verbindung mit Artikel 246 § 3 EGBGB. Zur Wahrung der Frist genügt die rechtzeitige Absendung des Widerrufs. Der Widerruf kann am einfachsten über den Abmeldelink /HIER ABMELDELINK/ erfolgen oder ist zu richten an folgende Adresse:<br>

Daniel Fliegauf<br>
Ipthausen Merklach 8<br>
97631 Bad Königshofen<br></p>

<h3>5.1.2 Widerrufsfolgen</h3>

<p>Im Falle eines wirksamen Widerrufs sind die beiderseits empfangenen Leistungen zurückzugewähren und ggf. gezogene Nutzungen (z. B. Zinsen) herauszugeben. Können Sie uns die empfangene Leistung sowie Nutzungen (z.B. Gebrauchsvorteile) ganz oder teilweise nicht oder nur in verschlechtertem Zustand zurückgewähren bzw. herauszugeben, müssen Sie uns insoweit ggf. Wertersatz leisten. Dies kann dazu führen, dass Sie die vertraglichen Zahlungsverpflichtungen für den Zeitraum bis zum Widerruf gleichwohl erfüllen müssen. Verpflichtungen zur Erstattung von Zahlungen müssen innerhalb von 30 Tagen erfüllt werden. Die Frist beginnt für Sie mit der Absendung Ihrer Widerrufserklärung, für uns mit deren Empfang.</p>

<h3>5.1.3 Besondere Hinweise</h3>

<p>Ihr Widerrufsrecht erlischt vorzeitig, wenn der Vertrag von beiden Seiten auf Ihren ausdrücklichen Wunsch vollständig erfüllt ist, bevor Sie Ihr Widerrufsrecht ausgeübt haben.</p>

<p>Ende der Widerrufsbelehrung</p>

<h3>5.2 Kein Widerrufsrecht in Bezug auf Verträge der Nutzer untereinander</h3>

<p>Die beteiligten Nutzer erkennen ausdrücklich an, dass gegenüber Connectify nach derzeitiger Rechtslage kein Widerrufsrecht hinsichtlich der jeweiligen Vermittlungsleistung von Connectify in Bezug auf die über die Platform vereinbarten Treffen besteht. Dementsprechend gilt die Belehrung über das Widerrufsrecht nicht für diese Leistung von Connectify, da ein Widerrufsrecht insoweit nicht besteht.</p><br>

<h3>6. Newsletter</h3>

<p>Im Rahmen der Registrierung kann der Nutzer in die regelmäßige Zusendung eines Newsletter einwilligen. Einzelheiten zum Einwilligungsprozess und zur Verwendung der personenbezogenen Daten des Nutzers in diesem Zusammenhang sind der Datenschutzerklärung zu entnehmen. Sollte der Nutzer an dem Erhalt des Newsletters kein Interesse mehr haben, kann er ihn jederzeit hier oder in den Einstellungen seines Nutzerprofils abbestellen.</p><br>

<h3>7. Datenschutz</h3>

<p>Der Umgang mit personenbezogenen Daten seiner Nutzer ist Connectify besonders wichtig. Aus diesem Grund werden personenbezogene Daten grundsätzlich in Übereinstimmung mit geltenden Datenschutzgesetzen erhoben und verarbeitet. Dem Nutzer ist bewusst, dass er mit Einstellen seines Angebots personenbezogene Daten veröffentlicht, die auf sämtlichen Seiten der Plattform (siehe Ziff. 2) auch für nichtregistrierte Nutzer einsehbar sein können.</p>

<p>Die Grundsätze zum Umgang mit personenbezogenen Daten durch Connectify sind in der Datenschutzerklärung enthalten, die hier einsehbar ist.</p><br>

<h3>8. Schlussbestimmungen</h3>

<p>Diese AGB sind hinsichtlich des unter verschiedenen Domains erreichbaren Angebots von Connectify abschließend. Sollten einzelne Bestimmungen dieser Nutzungsbedingungen ganz oder teilweise unwirksam sein, berührt dies die Wirksamkeit der übrigen Bestimmungen nicht.</p>

<p>Es gilt das Recht der Bundesrepublik Deutschland. Die Bestimmungen des UN-Kaufrechts sind ausgeschlossen. Ausschließlicher Gerichtsstand ist München, soweit der Nutzer bei Klageerhebung keinen festen Wohnsitz in Deutschland hat.</p>

<p>Connectify behält sich das Recht vor, Bestimmungen dieser AGB jederzeit und ohne Nennung von Gründen unter Beachtung der im Folgenden dargestellten Voraussetzungen zu ändern. Etwaige Änderungen und/oder Abweichungen von der versprochenen Leistung teilt Connectify dem Nutzer per E-Mail mit und bietet diesem die Fortsetzung des Nutzungsverhältnisses zu den sich dann ändernden Bedingungen an. Widerspricht der Nutzer der Geltung der neuen AGB nicht innerhalb von sechs Wochen nach Empfang der E-Mail, gelten die geänderten AGB als gegenüber dem Nutzer vereinbart. Widerspricht der Nutzer der Geltung der neuen AGB innerhalb der Sechswochenfrist, bleibt Connectify berechtigt, das Vertragsverhältnis gemäß Ziffer 4.1 ordentlich zu kündigen.</p>

Stand Januar 2013
</div>