<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
   <p><%= @micropost.user.name %></p>
   <p><%= @micropost.place %> </p>
  </body>
</html>