<% if @feed_items.any? %>
	<ul class="microposts" data-role="listview">
		<h3>Activities Pinnwand</h3>
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ul>
	<%= will_paginate @feed_items %>
<% else %>
	<!-- <h3>Neu hier? Kein Problem. Wir helfen dir dabei dich zurechtzufinden. Es ist ganz einfach:</h3> -->
	<div id="helptext">
		<%= render 'helptext' %>
	</div>
<% end %>