<% if @feed_items.any? %>
	<ol class="microposts">
		<h3>Meine Pinnwand</h3><a href="#" id="element" rel="tooltip" title="Hier erscheinen 1. deine Microposts  2. Microposts von Leuten, denen du folgst  3. Microposts, die du mit einem Stern markiert hast.">was wird hier angezeigt?</a>
		<%= render partial: 'shared/feed_item', collection: @feed_items %>
	</ol>
	<%= will_paginate @feed_items %>
<% else %>
	<!-- <h3>Neu hier? Kein Problem. Wir helfen dir dabei dich zurechtzufinden. Es ist ganz einfach:</h3> -->
	<div id="helptext">
		<!-- <%= image_tag("help.gif") %> -->
		<%= render 'helptext' %>
	</div>
<% end %>

<script type="text/javascript">$('#element').popover('toggle')</script>