@import "bootstrap";

/* mixins, variables, etc. */
$grayMediumLight: #eaeaea;
$gray: #08C;
$blue: #EEFFCC;

@mixin box_sizing {
	-moz-box-sizing: border-box;
	-webkit-bix-sizing: border-box;
	box-sizing: border-box;
}

/* universal */
html {
overflow-y: scroll;
}
body {
padding-top: 60px;
}
section {
overflow: auto;
}
textarea {
resize: vertical;
}
.center {
text-align: center;
h1 {
margin-bottom: 10px;
}

}


/* typography */
h1, h2, h3, h4, h5, h6 {
line-height: 1;
}
h1 {
font-size: 3em;
letter-spacing: -2px;
margin-bottom: 30px;
text-align: center;
}
h2 {
font-size: 1.7em;
letter-spacing: -1px;
margin-bottom: 30px;
text-align: center;
font-weight: normal;
color: $grayLight;
}
p {
font-size: 1.1em;
line-height: 2.7em;
}

.hobby {
	font-size: 3.8em;
	font-weight: bold;
	text-align: center;
	color: $grayLight;
	margin-bottom: -20px;
}

.place {
	font-size: 2.1em;
	font-weight: bold;
	text-align: right;
	color: $grayLight;
	margin-bottom: -10px;
	padding-right: 190px;
}

.time {
	font-size: 1.4em;
	font-weight: bold;
	text-align: left;
	padding-left: 10px;
	
}



#tourdiv {
	background: #FFF;
	width: 500px;
	max-width: 500px;
	height: 377px;
	position: absolute;
	left: 35%;
	top: 90px;
	border: 1px solid black;
	z-index: 96;
}

#tournext {
	position: absolute;
	left: 420px;
	top: 339px;
	z-index: 98;
}

#tourback {
	position: absolute;
	left: 20px;
	top: 339px;
	z-index: 99;
}

#login {
	position: absolute;
	left: 360px;
	top: 326px;
	z-index: 98;
}

.banner {
	margin-top: 105px;
	width: 64%;
	float: left;
}

#tourclose {
	position: absolute;
	left: 5px;
	top: 1px;
	z-index:97;
}

#usertimeline {
	width: 100%;
	background: #FFF;
	height: 150px;
	margin-top: 40px;
	overflow: hidden;
}

#searchbox {
	background: #F3F5F7;
	padding: 10px;
	border: 1px dashed gray;
}

.buttonbox {
padding-top: 195px;
	
}

.imagewrapper {
	max-width: 30px;
	max-height: 30px;
	height: 30px;
	display: inline;
}

#whatfbknows {
}

/* header */
#logo {
float: left;
margin-bottom: -41px;
}



/* footer */
footer {
margin-top: 45px;
padding-top: 5px;
border-top: 1px solid $grayMediumLight;
color: $grayLight;
a {
color: $gray;
&:hover {
color: $grayDarker;
}
}
small {
float: left;
}
ul {
float: right;
list-style: none;
li {
float: left;
margin-left: 10px;
}
}
}

/* miscellaneous */

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

/* sidebar */

aside {
	section {
		padding: 10px 0;
		border-top: 1px solid $grayMediumLight;
		&:first-child {
			border: 0;
			padding-top: 0;
		}
		span {
			display: block;
			margin-bottom: 3px;
			line-height: 1;
		}
		h1 {
			font-size: 1.6em;
			text-align: left;
			letter-spacing: -1px;
			margin-bottom: 3px;
		}
	}
}

.stats {
	overflow: auto;
	a {
		float: left;
		padding: 0 10px;
		border-left: 1px solid $grayMediumLight;
		color: gray;
		&:first-child {
			paaind-left: 0;
			border: 0;
		}
		&:hover {
			text-decoration: none;
			color: $blue;
		}
	}
	strong {
		display: block;
	}
}

.capitals {
	a {
		text-transform: uppercase;
	}
}

.user_avatars {
	overflow: auto;
	margin-top: 10px;
	.gravatar {
		margin: 1px 1px;
	}
}

.gravatar {
	float: left;
	margin-right: 10px;
	border: white 3px solid;
	border-bottom-width: 10px;
}

/* forms */

input, textarea, .uneditable-input {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: auto;
	margin-bottom: 15px;
	@include box_sizing;
}

select {
	border: 1px solid #bbb;
	width: 100%;
	padding: 10px;
	height: 38px;
	margin-bottom: 15px;
	@include box_sizing;
}

#error_explanation {
	color: #f00;
	ul {
	list-style: none;
	margin: 0 0 18px 0;
	}
}

.field_with_errors {
	@extend .control-group;
	@extend .error;
}

.datetime {
	width: 30%;
}


#wrappor{
	width: 100%;
}

clock_mobile {
	color: #000;
	font-size: 18px;
	position: relative;
	top: 20px;
}

div[class=ui-select]:nth-child(5), div[class=ui-select]:nth-child(6){
	width:40%;
	float: left;
}



/* users index */

.users {
		div {
		overflow: hidden;
		float: left;
		width: 140px;
		height: 140px;
		margin: 2px;
		border: 2px solid rgb(255, 255, 255);
		box-shadow: 3px 2px 4px #CCC;

		
		img {
			border: none;
		}

		
		&:last-child {
			margin-bottom: 100px;
		
		}
	}
}

.allusers {
	.input-append input {
			height: auto;
		}
}

/* search result */



/* microposts */

#address {
	color: #CCC;
	font-style: italic;
	padding-bottom: 7px;
}

.microposts {
	list-style: none;
	margin: 10px 0 0 0;

	li {
		height: 90px;
		padding: 30px 28px 110px 30px;
		border-top: 1px solid #E8E8E8;
		background-image: url("/assets/paper.jpg");
		line-height: 29px;
	}

	div#remember {
		height: 0px;
		input.btn {
			position: relative;
			left: 580px;
			top: -100px;
		}
	}

	form {
		margin: 0px 0px 0px 0px;
	}

	div div {
		height: 10px;
	}
}

.micropost {
	list-style: none;
	margin: 10px 0 0 0;
	li {

		padding: 10px 10px 10px 20px;
		border-top: 1px solid #E8E8E8;
		line-height: 29px;
	}
	
}

.content {
	display: block;
	line-height: 20px;
	padding-right: 50px;
}

.timestamp {
	color: #5F5F5F;
	position: relative;
	bottom: 35px;
	left: 30px;
}

.timestamp_details {
	color: #CCCCCC;
	float: right;
}

.gravatar {
	float: left;
	margin-right: 10px;
}

.aside {
	textarea {
		height: 100px;
		margin-bottom: 5px;
	}
}

.field {
	color: #FFFFFF;
	input {
		color: #000000;
	}
	clock{
		color: #5F5F5F;
	}
}

/* Show Micropost */

.writeFacebook {
	position: relative;
	left: 40%;
}

#terms {
	h3, p, li {
	font-size: 0.8em;
	line-height: 1.0em;
	text-align: justify;
	margin-left: 20%;
	margin-right: 20%;
	}
	h3 { padding-top: 15px;
			padding-bottom: 10px;}
}

.sorry{
	color: #ccc;
	border: 1px dotted;
	padding: 5px;
	width: 200px;
	font-size: 0.8em;
	line-height: 17px;
}

.sorry_micropost {
	float: left;
	margin-right: 10px;
	margin-left: 65px;
	position: relative;
	bottom: -10px;
}

.sorry_micropost2 {
	float: left;
	margin-right: 10px;
	margin-left: 65px;
	position: relative;
	bottom: 6px;
}

/* Helptext for Beginners */

#helptext {
	.small{font-size: 0.7em;}
	float: left;
	margin-right: 90px;
	font-size: 0.8em;
	#helpinnertext {
		position: relative;
		
		left: 34px;
		#help_wall {
			position: relative;
			
			margin-left: 40px;
				h2 {
				margin-bottom: 0px;
				}

				img {
					width: 30%;
					border: 2px solid;
					box-shadow: 2px 2px gray;
				}
		}
/*		#help_place {
			margin-top: 80px;
			margin-left: 25px;
		}
		#help_optional {
			margin-top: 20px;
			margin-left: -40px;
			
			
		}
		#help_map {
			margin-top: 90px;
			margin-left: -37px;
		}
		#help_time {
			margin-top: 110px;
			margin-left: -60px;
		}
		#help_about {
			margin-top: 170px;
		}
		#help_submit {
			margin-top: 230px;
		} */
	}
}

/* Micropost Form ----------- */

.ui-combobox {
	input{ background: #FFF !important;
	}
}

input {
	box_shadow: 0px !important;
}	

/* kill the orange outline in the autocomplete from */
div:focus {
  outline: none !important;
}

/* iframe help config */

#iframe1 {
	overflow: hidden;
	position: absolute;
	top: 200px;
	left: 500px;
	width: 400px;
	height: 300px;
}

/* the Mobile Part */

.mobilecontainer {
	width: 90%;
}
.mobilespan4 {
	width: 90%;
	margin: 10px;
}

.mobilerow {
	width: 90%;
	margin: 10px;
	padding: 10px;
}

/* home Questions */


#whatearns, #reallyforfree, #whatfbknows {
	display: none;
	text-align: left; 
	float: right;
	width: 96%;
	margin-bottom: 10px;
	margin-top: 10px;
}

/* fix menu navbar bug */
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent !important;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* Styles */
.span8 {
	display: none;
}
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
/* Styles */
.span8 {
	display: none;
}
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
/* Styles */
.span8 {
	display: none;
}
}

@media only screen 
and (min-device-width : 481px)  {
/* Styles */
.span8 {
	display: block;
}
}