<footer class="footer">
<small>
<a href="http://connectify.de/">myConnectify.com</a>
</small>
<nav>
<ul>
<li><%= link_to t('link.about'), about_path %></li>
<li><%= link_to t('link.contact'), contact_path %></li>
<li><%= link_to t('link.agb'), terms_path %></li>
<li><%= link_to t('link.privacy'), privacy_path %></li>
</ul>
</nav>
</footer>